h1, h2 {
  font-family: 'Inria Serif', serif;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  background-color: #F5F8FA;
  color: #14242C;
}

.subtitle {
  font-size: .75em;
}

.sample {
  text-decoration: underline;
  color: blue;
}

#streak, #high-score {
  padding-left: 3em;
}
